
.hero-title{
  position: absolute;
  top: 0;
  left: 0;

  .line {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    overflow: hidden;
  }

  .char{
    transform: translateY(10.5vw);
    transition: transform .6s;
  }

}

.col-icons {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   gap: 2.8rem;
   width: 16rem;

   svg {
      width: 100%;
      height: auto;
   }
}

.contact-data {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.go-top {

   position: relative;
   display: block;
   height: 8rem;

    .txt {
        display: block;
        font-family: theme(fontFamily.title);
        font-size: 2rem;
        line-height: 1;
        color: theme(colors.orange);
        white-space: nowrap;
        transform: rotate(90deg) translate(.7rem, -.2rem);
    }

    & svg{
      position: absolute;
      top: -5.5rem;
      left: 1.5rem;
      @apply w-[2rem];
    }

}
