.col-icons {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   gap: 2.8rem;
   width: 16rem;

   svg {
      width: 100%;
      height: auto;
   }
}

.contact-data {
   display: grid;
   grid-template-columns: 1fr 1fr;
}


.home.home-leave section:not(.hero){
   @apply opacity-0 translate-y-[3rem];
}