.col-icons {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   gap: 2.8rem;
   width: 16rem;

   svg {
      width: 100%;
      height: auto;
   }
}

.contact-data {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.lang-switcher{
   transition: var(--trans-5);
}

