header {
   @apply absolute top-0 left-0 w-full
        flex items-center
        py-2 z-[99] transition-all;

   & > .row {
      @apply w-full items-center;
   }

   /* &:before {
      content: '';
      @apply absolute h-[1px] bottom-0 left-0 bg-orange;
      width: calc(100% - var(--container-gap) * 2);
      left: var(--container-gap);
   } */
}
