:root {
  --container-gap: 1rem;
  --letter-track-1: -0.02em;
  --letter-track-2: -0.05em;
  --orange: theme(colors.orange);
  --white: theme(colors.white);
  --grey-dark: theme(colors.grey-dark);
  --card-aspect: 1/0.9;
  --line-width: 1.5px;
  --trans-45: all .45s ease-in-out;
  --trans-6: all .6s ease-in-out;
}

html {
  /* scroll-behavior: smooth; */
  height: auto;
}

/* @media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

body{
  @apply text-body bg-grey-dark text-ivory;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  height: 100%;
  cursor: none !important;
}


[id]{scroll-margin-top: 10ex}

a{
  cursor: none;
}

.row {
  @apply grid gap-1 grid-cols-12 md:gap-2;
  /* @apply grid grid-cols-4 gap-1 sm:grid-cols-6 md:grid-cols-12 md:gap-2; */

  & > * {
    grid-column: 1 / 13;
  }

}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XS ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme("screens.xs")) {
  :root {
    --container-gap: 2rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// SM ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme("screens.sm")) {
  :root {
    --container-gap: 4rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme("screens.xg")) {
  
  :root {
    --container-gap: 2%;
  }

}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/* @media (min-width: theme("screens.xl")) {
  :root {
    --container-gap: 5rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/* @media (min-width: theme("screens.2xl")) {
  :root {
    --container-gap: 6rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 3XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/* @media (min-width: theme("screens.3xl")) {
  :root {
    --container-gap: 7rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 4XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.4xl")) {
  :root {
    --container-gap: 8rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 5XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.5xl")) {
  :root {
    --container-gap: 6rem;
  }
} */
