:root {
   --container-gap: 1rem;
   --header-height: 7.5rem;
   --letter-track-1: -0.02em;
   --letter-track-2: -0.05em;
   --orange: theme(colors.orange);
   --white: theme(colors.white);
   --grey-dark: theme(colors.grey-dark);
   --card-aspect: 1/0.9;
   --line-width: 1.5px;
   --trans-45: all 0.45s ease-in-out;
   --trans-5: all .5s ease-in-out;
   --trans-6: all 0.6s ease-in-out;
}

html {
   /* scroll-behavior: smooth; */
   height: auto;
}

/* @media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

body {
   @apply text-body bg-grey-dark text-ivory;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   word-wrap: break-word;
   height: 100%;
   cursor: none !important;
}

[id] {
   scroll-margin-top: 10ex;
}

a {
   cursor: none;
}

.row {
   @apply grid gap-1 grid-cols-12 md:gap-2;
}

.row > *{ grid-column: 1 / 13 }

main{
  @apply relative;
  mix-blend-mode: lighten;
}


.home main:before {
   position: fixed;
   content: '';
   width: 100%;
   top: 0;
   left: 0;
   height: var(--header-height);
   background-color: rgba(0, 0, 0, 1);
   opacity: 1;
   z-index: 999;
   pointer-events: none;
   transform: translateY(-100%);
   transition: var(--trans-45);
}

:not([data-scroll="top"])[data-stack="on"] .home main:before{
  transform: translateY(0);
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XS ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme('screens.xs')) {
   :root {
      --container-gap: 2rem;
   }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// SM ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme('screens.sm')) {
   :root {
      --container-gap: 4rem;
   }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme('screens.xg')) {
   :root {
      --container-gap: 2%;
      --header-height: 7.5rem;
   }
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/* @media (min-width: theme("screens.xl")) {
  :root {
    --container-gap: 5rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/* @media (min-width: theme("screens.2xl")) {
  :root {
    --container-gap: 6rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 3XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/* @media (min-width: theme("screens.3xl")) {
  :root {
    --container-gap: 7rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 4XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.4xl")) {
  :root {
    --container-gap: 8rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 5XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.5xl")) {
  :root {
    --container-gap: 6rem;
  }
} */
