:root{
  --brand-width: 15rem
}

.brand{
  
  width: var(--brand-width);
  transition: var(--trans-45);

  & svg{
    @apply w-full h-auto;
  }

}

.once .home header .brand path{
  transform: translateY(22rem);
}


@media (min-width: theme("screens.xg")) {

  :root{
    --brand-width: 10rem
  }

}

@media (min-width:1064px){

  :root{
    --brand-width: 12.5rem
  }

}