#proyectos{

    .card{
        position: relative;
        aspect-ratio: var(--card-aspect);

        & .info{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & > span{
                
                position: relative;

                &:first-child{
                    font-family: theme(fontFamily.title);
                    font-size: var(--h1);
                    letter-spacing: -0.05em;
                    line-height: 1;
                }

                &.dots{
                    position: absolute;
                    top: 2.2rem;
                    right: 0;
                    width: 4.6rem;
                    height: 2.5rem;
                    background-image: url("img/icons/link-black.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &:last-child{
                    display: flex;
                    justify-content: space-between;
                    letter-spacing: var(--letter-track-2);
                }

            }

        }

        & figure{
            width: 100%;
            height: 100%;
        }

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover{
            .info{
                background: transparent;
                color: #fff;
            }
        }

    }

}

#proyectos .card .info{
    @apply text-white xg:bg-orange xg:text-grey-dark;
}

#proyectos .card .info > span:first-child{
    @apply xg:w-50%;
}

#proyectos .dots{
    @apply hidden xg:block;
}

#servicios{

    .card{ 

        position: relative;
        @apply min-h-[30vh];
        border-top: 1px solid theme(colors.white);

        & span{
            font-family: theme(fontFamily.title);
            font-size: 1.8rem;
        }

        &:hover{

            p{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

        }

    }

}

#servicios .card p{
    @apply xg:w-70% mt-1 pb-4 xg:pb-0
    transition-all duration-[400ms] ease-in-out;
}

#team{

    .card{

        display: flex;
        flex-direction: column-reverse;
        color: theme(colors.grey-dark);

        img{
            filter: grayscale(100);
        }

        & figcaption{

            @apply min-h-[15rem] flex flex-col items-end text-right;

            & h3{
                font-family: theme(fontFamily.title);
                font-size: var(--h3);
                color: theme(colors.grey-dark);
                line-height: 1;
                letter-spacing: var(--letter-track-1);
            }

            & div{
                @apply mt-1;
                display: flex;
                gap: 1rem;

                a{
                    @apply underline;
                }

            }

        }

        &:first-child img{
            width: calc(100% + var(--container-gap)*2);
        }

    }
}

#all-works{

    .card{
        position: relative;
        display: block;

        &:before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: var(--orange);
            pointer-events: none;
            mix-blend-mode: color;
            filter: grayscale(1);
            opacity: 0;
        }

        & figcaption{
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 12;
            color: #fff;
            opacity: 0;
            pointer-events: none;
            @apply py-2 px-3;

            & > span{
                position: relative;
                
                
                &:first-child{
                    font-family: theme(fontFamily.title);
                    font-size: var(--h1);
                    letter-spacing: -0.05em;
                    line-height: 1;
                    width: 50%;
                    display: none;
                    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                    transition: all .4s ease;
                }

                &:last-child{
                    display: flex;
                    justify-content: space-between;
                    letter-spacing: var(--letter-track-2);

                    span{
                        display: none;
                        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                        transition: all .4s ease;
                    }

                }

            }

        }

        & img{
            aspect-ratio: var(--card-aspect);
            transition: all .4s ease;
        }


        &:hover{

            &:before{
                opacity: 1;
            }

            & figcaption{
                opacity: 1;

                & > span{

                    &:first-child{
                        display: block;
                        animation: lineIn .4s ease-in-out forwards;
                    }

                    &:last-child{

                        & span:first-child{
                            display: block;
                            animation: lineIn .4s ease-in-out forwards;
                            animation-delay: .2s;
                        }

                        & span:last-child{
                            display: block;
                            animation: lineIn .4s ease-in-out forwards;
                            animation-delay: .4s;
                        }

                    }

                }

            }

            & img{
                opacity: .2;
            }

        }

    }

}


/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 992px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {

    #servicios .card p{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

}


@keyframes lineIn{

    0%{
        transform: translateY(1rem);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    100%{
        transform: translateY(0);
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }

}