
@media (min-width: theme("screens.xl")) {

    .pointer:not(.hover-arrow) {
        display: none;
        width: 1.8rem;
        height: 1.8rem;
        background-color: #000;
        border-radius: 50%;
        position: fixed;
        pointer-events: none;
        z-index: 99999999;
        filter: invert(100%) grayscale(100%);
        mix-blend-mode: difference;
        transform: scale(1) translateZ(0px);
        -webkit-transform: scale(1) translateZ(0px);
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        transition-property: transform;
        -webkit-transition-property: transform;
        transition-duration: 0.3s; /* Duración de la transición */
        -webkit-transition-duration: 0.3s; /* Duración de la transición */
        transition-timing-function: ease; /* Función de temporización (puedes ajustarla según tus necesidades) */
        -webkit-transition-timing-function: ease; /* Función de temporización (puedes ajustarla según tus necesidades) */
        transition-delay: 0s; /* Retardo de la transición si es necesario */
        -webkit-transition-delay: 0s; /* Retardo de la transición si es necesario */
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        &.active{
            display: block;
        }

        &.hover-1x {
             transform: scale(3) translateZ(0px) !important;
             -webkit-transform: scale(3) translateZ(0px) !important;
        }

        &.hover-2x {
             transform: scale(4) translateZ(0px) !important;
             -webkit-transform: scale(4) translateZ(0px) !important;
        }

        .menu-active:not(.pointer-hover) &{
            mix-blend-mode: difference;
            background: var(--orange);
            filter: none;
        }

        .menu-active.pointer-hover &{
            mix-blend-mode: screen;
            background: var(--orange);
            filter: none;
        }

    }

    .pointer.hover-arrow {
        display: none;
        position: fixed;
        width: 2.1rem;
        height: 2.1rem;
        pointer-events: none;
        z-index: 99999999;
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.64074 32.7103L26.5665 10.7845L26.5666 32.8686L32.4762 32.8687V0.696201H0.303711V6.6058H22.3878L0.462025 28.5316L4.64074 32.7103Z' fill='white'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 99999;

        &.active{
            display: block;
        }

   }

}


