:root {
   --checkbox-color: var(--orange);
}

/* Customize the label (the container) */
.checkbox {
  position: relative;
   display: block;
   padding-left: 2.5rem;
   margin-bottom: 3rem;
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 1.5rem;
   width: 1.5rem;
   background-color: rgba(255,255,255,.3);
   border-radius: 100px;
}

.checkmark + span {
  position: relative;
  top: -.2rem;
  color: rgba(255,255,255,.3);
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
   background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
   background-color: var(--checkbox-color);
}

.checkbox input:checked ~ .checkmark + span {
  color: var(--checkbox-color);
}

.checkbox:hover input ~ .checkmark + span {
  color: white;
}


