.go-top {

   position: relative;
   display: block;
   height: 8rem;

    .txt {
        display: block;
        font-family: theme(fontFamily.title);
        font-size: 2rem;
        line-height: 1;
        color: theme(colors.orange);
        white-space: nowrap;
        transform: rotate(90deg) translate(.7rem, -.2rem);
    }

    & svg{
      position: absolute;
      top: -5.5rem;
      left: 1.5rem;
      @apply w-[2rem];
    }

}