.row-brand{
  @apply row 
        absolute left-0 bottom-0 w-full h-[100svh] xg:h-auto 
        flex items-center
        ctr-px pointer-events-none;
}

.brand-intro {
  @apply absolute w-full top-0 left-0 
         flex justify-center
         overflow-hidden;
   transform-origin: center;
}

.brand-intro svg{
  @apply scale-[.5] xg:scale-[.23] 
         h-fit overflow-hidden;
}

.brand-intro path{
  @apply translate-y-[110%] xg:translate-y-[100%]
}


.line-txt{
  @apply inline-flex text-nowrap overflow-hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  span{
    transform: translateY(100%);
  }

}

.arrow-intro{
  @apply absolute bottom-0 xg:top-0 right-0 xg:bottom-0 xg:left-0 
  w-2 xg:w-[1.2vw] 
  xg:translate-y-[.7vh] xg:translate-x-[-2.5vw] 
  overflow-hidden;
}

.hero-title{

  @apply absolute top-0 left-0 opacity-0;

   .line {
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
     overflow: hidden;
   }
 
 }

 .hero-title .char{
    @apply translate-y-[5rem] xg:translate-y-[10.5vw];
    transition: transform .6s;
 }

.hero-back {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   z-index: -1;
   filter: grayscale();
   opacity: 0.05;
   object-fit: cover;
   opacity: 0;
}
