.lang-switcher{
   position: relative;
   transition: var(--trans-5);
}

.lang-switcher a{
   @apply absolute top-0 left-[-2rem] 
   xg:size-4
   flex justify-center items-center
   translate-x-[-50%] translate-y-[-50%];
}

.lang-switcher a:first-child{
   @apply translate-x-[-125%]
}
