#menu{

  @apply 
    fixed xg:relative w-100%
    top-0 right-0 xg:left-0
    flex flex-col justify-between xg:flex-row
    ctr-px py-2 xg:py-0
    xg:gap-4
    bg-grey-dark
    translate-x-[100%]	
    xg:translate-x-[0%]
    z-[999]
    overflow-hidden
    transition-all
    ease-in-out
    duration-[.4s];
    height: 100vh;
    height: 100svh;
}

#menu nav{
  @apply w-full flex flex-col xg:flex-row xg:justify-between;
}

#menu .item{
  @apply text-big font-title uppercase text-orange w-full border-b-[1.5px] border-orange
  xg:text-body xg:lowercase xg:text-white xg:w-fit xg:border-none
  cursor-pointer;
}

.menu-in #menu{
    @apply translate-x-[0%];
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 992px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {

  #menu{
    height: auto;
    padding: 0;
    background: transparent;
  }

  .home header .item{
    transform: translateY(-2rem);
    opacity: 0;
  }


}