.mini-title{
  font-family: theme(fontFamily.title);
  @apply relative flex gap-1 w-fit
  text-h1 font-bold leading-[.9];
}

.mini-title span:first-child{
  @apply flex;
  letter-spacing: var(--letter-track-1);
}

.mini-title span:last-child{
  @apply flex items-end;
}

.mini-title svg{
  @apply w-[1.7rem] h-auto xg:translate-y-[-.3rem];
}

[data-device="mobile"][data-platform="ios"] .mini-title svg{
  transform: translateY(-.5rem);
}